@page "/article/{Id:int}"
@using ReviewEverything.Client.Components.Views

@{
#pragma warning disable
}

<PageTitle>
    @(ArticleReview is null ? SharedLocalizer["Загрузка..."] : ArticleReview.Title)
</PageTitle>

<div class="container mt-5 mb-3">
    <MudPaper Class="px-5 py-3" id="Article">
        @if (ArticleReview != null)
        {
            <div class="mb-1 d-flex" style="align-items: center;">
                <MudIcon Icon="@Icons.Filled.Star" Color="Color.Warning" Style="height: 40px; width: 40px;" />
                <div style="display: flex; flex-direction: column;">
                    <span Style="font-size: 24px; line-height: normal;">@(ArticleReview.UserScores.Count == default ? default : Math.Round(ArticleReview.UserScores.Sum(t => t.Score) / (double)ArticleReview.UserScores.Count, 1))<span style="font-size: 10px;">/5</span></span>
                    <span Style="font-size: 10px; line-height: normal;">@ArticleReview.UserScores.Count</span>
                </div>
                <MudDivider Class="mx-3" Style="height: 50px" Vertical="true" />
                <AuthorizeView>
                    <Authorized>
                        <MudRating Size="Size.Large" SelectedValue="_userRatingComposition" SelectedValueChanged="SetUserRatingAsync" />
                    </Authorized>
                    <NotAuthorized>
                        <MudText id="Need_Authorize">@Localizer["Для того, чтобы оценить произведение необходима авторизация"]</MudText>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
            <div style="display: flex; align-items: center;">
                <MudIcon Color="Color.Warning" Icon="@Icons.Filled.Star" Style="height: 30px; width: 30px;" />
                <span class="mx-1"></span>
                <span style="font-size: 18px;">@Localizer["Оценка автора:"] @ArticleReview.AuthorScore/10</span>
            </div>
            <MudText Style="font-size: 24px;" Underline="Underline.Always" Color="Color.Default">@ArticleReview.Composition</MudText>
            <MudText Style="font-size: 1.75em;" Class="mt-1">@ArticleReview.Title</MudText>
            <MudText Style="font-size: 1.25em;" Class="mt-1">@ArticleReview.Subtitle</MudText>

            <MudCarousel ShowArrows="true" Style="height: 300px;" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
                @foreach (var cloudImage in ArticleReview.CloudImages)
                {
                    <MudCarouselItem Transition="Transition.Slide" Style="text-align: center;">
                        <MudImage ObjectFit="ObjectFit.Contain" Style="height: 300px; width: 100%;" Src="@cloudImage.Url" Alt="@cloudImage.Title" Elevation="25" Class="rounded-lg" />
                    </MudCarouselItem>
                }
            </MudCarousel>

            <MudBreakpointProvider>
                <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">

                    <MudDivider Class="mt-2" />
                    <div class="mt-3 d-flex flex-column">
                        <div class="d-flex" style="align-items: center;">
                            <MudAvatar Variant="Variant.Outlined">@ArticleReview.Author[0]</MudAvatar>
                            <span class="mx-1"></span>
                            <MudLink Style="font-size: 20px;" Underline="Underline.Always" Href="@("./User/" + ArticleReview.AuthorId)" Color="Color.Default">@ArticleReview.Author</MudLink>
                        </div>
                        @if (ArticleReview.UpdateDate != null)
                        {
                            <div class="d-flex mt-2">
                                <MudIcon Icon="@Icons.Filled.CheckCircleOutline" />
                                <span class="mx-1"></span>
                                <MudText Style="font-size: 16px;">@Localizer["Дата изменения:"] @ArticleReview.UpdateDate.Value.ToShortDateString() @ArticleReview.UpdateDate.Value.ToShortTimeString()</MudText>
                            </div>

                        }
                        <div class="d-flex mt-2">
                            <MudIcon Icon="@Icons.Filled.StickyNote2" />
                            <span class="mx-1"></span>
                            <MudText Style="font-size: 16px;">@Localizer["Дата создания:"] @ArticleReview.CreationDate.ToShortDateString() @ArticleReview.CreationDate.ToShortTimeString()</MudText>
                        </div>
                    </div>
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                    <div class="mt-3" style="display: flex; align-items: center;">
                        <MudAvatar Variant="Variant.Outlined">@ArticleReview.Author[0]</MudAvatar>
                        <span class="mx-1"></span>
                        <MudLink Style="font-size: 16px;" Underline="Underline.Always" Href="@("./User/" + ArticleReview.AuthorId)" Color="Color.Default">@ArticleReview.Author</MudLink>
                        <span class="mx-3"></span>
                        @if (ArticleReview.UpdateDate != null)
                        {
                            <MudIcon Icon="@Icons.Filled.CheckCircleOutline" />
                            <span class="mx-1"></span>
                            <MudText Style="font-size: 16px;">@Localizer["Дата изменения:"] @ArticleReview.UpdateDate.Value.ToShortDateString() @ArticleReview.UpdateDate.Value.ToShortTimeString()</MudText>
                            <span class="mx-3"></span>
                        }

                        <MudIcon Icon="@Icons.Filled.StickyNote2" />
                        <span class="mx-1"></span>
                        <MudText Style="font-size: 16px;">@Localizer["Дата создания:"] @ArticleReview.CreationDate.ToShortDateString() @ArticleReview.CreationDate.ToShortTimeString()</MudText>
                    </div>
                </MudHidden>
            </MudBreakpointProvider>
            <MudDivider Class="mt-2" />

            <style>
                blockquote {
                    margin: 0;
                }

                    blockquote p {
                        padding: 15px;
                        background: var(--mud-palette-background-grey);
                        border-radius: 5px;
                    }
            </style>

            <MudText Class="mt-4">@((MarkupString)Markdig.Markdown.ToHtml(ArticleReview.Body))</MudText>
            <div class="d-flex justify-content-between" style="align-items: center">
                <LikeUsersView Id="ArticleReview.Id" LikeUsers="ArticleReview.LikeUsers" />
                <div id="Convert">
                    <MudButton Disabled="_convertedToPdf" Variant="Variant.Outlined" Color="Color.Inherit" OnClick="ConvertToPDFAsync">
                        @if (_convertedToPdf)
                        {
                            <MudProgressCircular Size="Size.Small" Indeterminate="true"/>
                            <MudText Class="mx-1">Processing</MudText>
                        }
                        else
                        {
                            <span class="mud-button-label">Convert to PDF</span>
                        }
                    </MudButton>
                </div>
            </div>
        }
        else
        {
            <MudSkeleton Style="margin: -10px 0;" Height="40px" Width="150px" />
            <MudSkeleton Style="margin: -10px 0;" Height="70px" Width="250px" />
            <MudSkeleton Style="margin: -10px 0;" Height="60px" />
            <MudSkeleton Style="margin: -70px 0;" Height="400px" />
            <MudSkeleton Style="margin: -130px 0;" Height="800px" />
        }
    </MudPaper>
    <div class="mt-2 container-similar-review">
        <SimilarArticleView ReviewId="Id" @ref="_similarArticle" />
    </div>
    <div class="@($"mt-2 {(_similarArticle is null || _similarArticle.SimilarArticles is null || (_similarArticle.SimilarArticles is not null && _similarArticle.SimilarArticles.Count != default) ? "container-comment" : null)}")">
        <ArticleComments Id="Id" />
    </div>
</div>