@page "/article/{Id:int}"
@using ReviewEverything.Client.Helpers

<div class="container mt-5">
    @if (ArticleReview != null)
    {
        <MudLink Style="font-weight:600; font-size:1.3em;" Underline="Underline.Always" Color="Color.Default">@ArticleReview.Composition</MudLink>
        <MudText Style="font-weight:900; font-size:2.125em;" Class="mt-1">@ArticleReview.Title</MudText>
        <MudText Style="font-size:1.75em;" Class="mt-1">@ArticleReview.Subtitle</MudText>
        <MudBreakpointProvider>
            <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                <div class="d-flex justify-center">
                    <MudImage ObjectFit="ObjectFit.Cover" Style="width:100%; max-height:200px;" Src="@ArticleReview.CloudImages[0].Url" Alt="@ArticleReview.CloudImages[0].Title" Elevation="25" Class="rounded-lg" />
                </div>
                <MudDivider Class="mt-2" />
                <div class="mt-3 d-flex flex-column">
                    <div class="d-flex" style="align-items:center;">
                        <MudAvatar Variant="Variant.Outlined">@ArticleReview.Author[0]</MudAvatar>
                        <span class="mx-1"></span>
                        <MudLink Style="font-size:20px;" Underline="Underline.Always" Href="@("./User/" + ArticleReview.AuthorId)" Color="Color.Default">@ArticleReview.Author</MudLink>
                    </div>
                    @if (ArticleReview.UpdateDate != null)
                    {
                        <div class="d-flex mt-2">
                            <MudIcon Icon="@Icons.Filled.CheckCircleOutline" />
                            <span class="mx-1"></span>
                            <MudText Style="font-size:16px;">Дата изменения: @ArticleReview.UpdateDate.Value.ToShortDateString() @ArticleReview.UpdateDate.Value.ToShortTimeString()</MudText>
                        </div>

                    }
                    <div class="d-flex mt-2">
                        <MudIcon Icon="@Icons.Filled.StickyNote2" />
                        <span class="mx-1"></span>
                        <MudText Style="font-size:16px;">Дата создания: @ArticleReview.CreationDate.ToShortDateString() @ArticleReview.CreationDate.ToShortTimeString()</MudText>
                    </div>
                </div>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">

                <div class="d-flex justify-center">
                    <MudImage ObjectFit="ObjectFit.Cover" Style="width:100%; max-height:400px;" Src="@ArticleReview.CloudImages[0].Url" Alt="@ArticleReview.CloudImages[0].Title" Elevation="25" Class="rounded-lg" />
                </div>
                <div class="mt-3" style="display: flex; align-items: center;">
                    <MudAvatar Variant="Variant.Outlined">@ArticleReview.Author[0]</MudAvatar>
                    <span class="mx-1"></span>
                    <MudLink Style="font-size:16px;" Underline="Underline.Always" Href="@("./User/" + ArticleReview.AuthorId)" Color="Color.Default">@ArticleReview.Author</MudLink>
                    <span class="mx-3"></span>
                    @if (ArticleReview.UpdateDate != null)
                    {
                        <MudIcon Icon="@Icons.Filled.CheckCircleOutline" />
                        <span class="mx-1"></span>
                        <MudText Style="font-size:16px;">Дата изменения: @ArticleReview.UpdateDate.Value.ToShortDateString() @ArticleReview.UpdateDate.Value.ToShortTimeString()</MudText>
                        <span class="mx-3"></span>
                    }

                    <MudIcon Icon="@Icons.Filled.StickyNote2" />
                    <span class="mx-1"></span>
                    <MudText Style="font-size:16px;">Дата создания: @ArticleReview.CreationDate.ToShortDateString() @ArticleReview.CreationDate.ToShortTimeString()</MudText>
                </div>
            </MudHidden>
        </MudBreakpointProvider>
        <MudDivider Class="mt-2" />
        <MudText Class="mt-4">@ArticleReview.Body</MudText>
        <MudDivider Class="mt-2" />
        <div class="d-flex" style="align-items: center; justify-content: space-between;">
            <MudText Style="font-size:36px;">Комментарии</MudText>
            <div class="d-flex" style="align-items: center">
                <MudIcon Style="height: 20px; width: 20px;" Icon="@Icons.Filled.Comment" />
                <MudText Style="font-size:20px;">@ArticleReview.Comments.Count</MudText>
            </div>
        </div>
        <MudTextField Class="mt-3" Margin="Margin.Dense" Variant="Variant.Outlined" Placeholder="Что ты думаешь об этом?" Lines="3" @bind-Value="_bodyComment" />
        <AuthorizeView>
            <Authorized>
                <div class="text-end mt-3">
                    <MudButton Variant="Variant.Outlined" Color="Color.Inherit" OnClick="SendCommentAsync">Отправить</MudButton>

                </div>
            </Authorized>
            <NotAuthorized>
                <div style="display: flex; align-items: center; justify-content: flex-end;">
                    <MudText>*Войдите чтобы оставить комментарий</MudText>
                    <span class="mx-1"></span>
                    <MudButton Disabled="true" Variant="Variant.Filled">Отправить</MudButton>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <div class="mt-5">
            <MudDivider />
            @if (ArticleReview.Comments.Count != default)
            {
                foreach (var comment in ArticleReview.Comments)
                {
                    <div class="my-5 d-flex">
                        <MudAvatar Class="mx-2" Variant="Variant.Outlined">@ArticleReview.Author[0]</MudAvatar>
                        <div>
                            <MudLink Style="font-size:20px;" Underline="Underline.Always" Href="@("./User/" + comment.UserId)" Color="Color.Default">@comment.User</MudLink>
                            <MudText Style="font-size: 11px;">@comment.CreationDate.CalculateRelativeTime()</MudText>
                            <MudText Class="mt-3">@comment.Body</MudText>
                        </div>
                    </div>
                }
            }
            else
            {

            }
        </div>
    }
    else
    {
        <MudSkeleton Style="margin:-10px 0;" Height="40px" Width="150px" />
        <MudSkeleton Style="margin:-10px 0;" Height="70px" Width="250px" />
        <MudSkeleton Style="margin:-10px 0;" Height="60px" />
        <MudSkeleton Style="margin:-70px 0;" Height="400px" />
        <MudSkeleton Height="80px" />
        <MudDivider />
        <MudSkeleton Style="margin:-100px 0;" Height="500px" />
    }
</div>