@page "/review-editor/{id:int?}"
@attribute [Authorize]
@using ReviewEverything.Client.Components.ReviewEditor

@{
    #pragma warning disable
}

<PageTitle>
    @(string.Format("{0} {1}", (Id == null ? Localizer["Создать"] : Localizer["Редактировать"]), Localizer["обзор"]))
</PageTitle>

<div class="container mt-5">
    <MudPaper Class="px-4 py-5">
        @if (_review != null)
        {
            <EditForm Model="@_review">
                <DataAnnotationsValidator />
                <ImageEditor CloudImages="_review.CloudImages" />
                <MudTextField Class="mt-3" Margin="Margin.Dense" Variant="Variant.Outlined" Placeholder="@Localizer["Название"]" @bind-Value="_review.Title" />
                <MudTextField Class="mt-3" Margin="Margin.Dense" Variant="Variant.Outlined" Placeholder="@Localizer["Подзаголовок"]" @bind-Value="_review.Subtitle" />
                <MudNumericField Class="mt-3" Min="1" Max="10" Margin="Margin.Dense" Variant="Variant.Outlined" Placeholder="@Localizer["Оценка автора по 10-б шкале"]" @bind-Value="_review.AuthorScore" />

                <SelectOrCreateComposition Review="_review" @ref="_composition" />
                <SelectOrCreateTags Review="_review" @ref="_tags" />

                <div class="mt-3">
                    <style>
                        .CodeMirror.cm-s-easymde.CodeMirror-wrap {
                            background-color: var(--mud-palette-surface);
                            color: var(--mud-palette-text-primary);
                            font-size: 1rem;
                            box-sizing: border-box;
                            align-items: center;
                            font-weight: 400;
                            line-height: 1.1876em;
                            letter-spacing: .00938em;
                        }

                        .editor-preview-full.editor-preview.editor-preview-active {
                            color: var(--mud-palette-text-primary);
                            background-color: var(--mud-palette-surface);
                        }

                        .editor-toolbar > button {
                            color: var(--mud-palette-text-primary);
                            background: var(--mud-palette-surface) !important;
                        }
                    </style>
                    <MarkdownEditor @bind-Value="@_review.Body" SpellChecker="false" />
                </div>

                <div class="mt-5 text-end">
                    <MudButton Variant="Variant.Outlined" Color="Color.Inherit" OnClick="() => CheckValidSubmitAsync(context)">@Localizer["Сохранить"]</MudButton>
                </div>
            </EditForm>
        }
        else
        {
            <MudSkeleton Height="60px" Style="margin:-10px 0" />
            <MudSkeleton Height="60px" Style="margin:-10px 0" />
            <MudSkeleton Height="60px" Style="margin:-10px 0" />
            <MudSkeleton Height="60px" Style="margin:-10px 0" Class="mt-2" />
            <MudSkeleton Height="60px" Style="margin:-10px 0" />
            <MudSkeleton Height="60px" Style="margin:-10px 0" Width="100px" />
            <MudSkeleton Height="60px" Style="margin:-10px 0" Class="mt-3" />
            <MudSkeleton Height="60px" Style="margin:-10px 0" />
            <MudSkeleton Height="250px" Style="margin:-10px 0" Class="mt-3" />
        }
    </MudPaper>
</div>