@inject IStringLocalizer<App> Localizer
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <AuthorizeView Context="authContext">
                        <Authorized>
                            <MudText Style="text-align: center; font-size: xx-large;" Color="Color.Warning">@Localizer["Недостаточно прав для просмотра содержимого."]</MudText>
                        </Authorized>
                        <NotAuthorized>
                            @{
                                NavigationManager.NavigateTo("/account/sign-in");
                            }
                        </NotAuthorized>
                    </AuthorizeView>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <PageTitle>404 Not Found</PageTitle>
                <div style="display:flex; flex-direction: column; align-items: center;">
                    <span style="font-size: 36px;">@Localizer["Не найдено"]</span>
                    <span style="font-size: 30px;">@Localizer["Извините, по этому адресу ничего не найдено."]</span>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>