@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="IsDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Elevation="1">
        <MudBreakpointProvider>
            <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerOpen = !DrawerOpen)" />
                <MudIcon Style="height: 30px; width: 30px;" Icon="@Icons.Filled.Camera" />
                <MudText Style="font-size: 18px;">Reviews of everything</MudText>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                <MudIcon Style="height: 30px; width: 30px;" Icon="@Icons.Filled.Camera" />
                <MudText Style="font-size: 24px;">Reviews of everything</MudText>
                <MudSpacer />
                <MudToggleIconButton Color="Color.Inherit" Toggled="IsDarkMode" ToggledChanged="ChangeThemeAsync" Icon="@Icons.Filled.WbSunny" ToggledIcon="@Icons.Filled.NightsStay" />
                <CascadingValue Value="this">
                    <LoginPartial />
                </CascadingValue>
            </MudHidden>
            <span class="mx-1"></span>
        </MudBreakpointProvider>
    </MudAppBar>

    <MudBreakpointProvider>
        <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
            <MudDrawer @bind-Open="DrawerOpen" Elevation="2">
                <MudDrawerHeader Style="@("background: " + (IsDarkMode ? "#151521ff" : "#f5f5f5ff"))" Dense="true">
                    <MudSpacer />
                    <MudToggleIconButton Size="Size.Small" ToggledSize="Size.Small" Color="Color.Inherit" @bind-Toggled="IsDarkMode" Icon="@Icons.Filled.WbSunny" ToggledIcon="@Icons.Filled.NightsStay"/>
                </MudDrawerHeader>
                <MudList Clickable="true">
                    <CascadingValue Value="this">
                        <LoginPartial />
                    </CascadingValue>
                    <MudDivider/>
                    <MudListItem Text="Рецензии пользователей"/>
                </MudList>
            </MudDrawer>
        </MudHidden>
    </MudBreakpointProvider>


    <MudMainContent>
        <CascadingValue Value="this">
            @Body
        </CascadingValue>
    </MudMainContent>
</MudLayout>
